<% provide(:title, @user.fullname) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
      
    </section>
    </aside>
    <hr>
    <% if current_user.role == "client" && @user == current_user %>
      <%= link_to 'Создать задание', new_task_path, class:"btn btn-success" %>
    <% end %>
</div>