<footer class="footer">
  <nav>
    <ul class="nav">
      <li class="nav-link"><%= link_to "Главная", root_path %></li>
      <li class="nav-link"><%= link_to "Пользователи", users_path %></li>
      <li class="nav-link"><%= link_to "Задания", tasks_path %></li>
    </ul>
  </nav>
</footer>